h1{
    padding-left: 20px;padding-top: 10px;
}
.addCard{
    border: 1px solid #b5b0b0;
    border-radius: 8px;
    margin: 3px;
    float:left;
    padding-left: 10px;
    background-color: #bbbbbb;
}
button{
    background-color: white;
}
b{
    padding-left: 10px;
}
.mat-fab {
    width:50px;
    height: 50px;
}
html,body{
    height: 100%;
}
body {
    background: #efefef
  }
.container{
    background-color: #efefef;
    overflow: hidden;
}
.header{
    color: black;
    font-size: 30px;
    width: 80%;
    display: inline;
    position: relative;
    left: 40%;
}

.addList{
    float: right;
}

button.mat-focus-indicator.mat-button.mat-button-base.mat-warn {
    position: relative;
    left: 30%;
}

.list{
    padding-top: 10px;
}

.card{
    width: 270px;
    height: 150px;
    border: 1px #9a9ba2;
    border-style: solid;
    background-color: white;
    border-radius: 5px;
}

.card-title{
    background-color: #1ab9b2;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 5px 0px;
}
.mat-fab .mat-button-wrapper {
    padding: 2px 0;
    display: inline-block;
    line-height: 10px;
}

button.mat-focus-indicator.mat-fab {
    width: 35px !important;
    height: 35px !important;
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    position: relative;
    bottom: 10px;
}

.icons{
    position: relative;
    top: 5px;
    left: 5px;;
}

.desc{
    position: relative;
    top: 10px;
}

.cdk-drop-list{
    position: relative;
    right: 2%;
    overflow: auto;
    display: inline;
}

.cards{
    overflow: auto;
    height: 220px;
}